<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Explore the world</title>
</head>

<body>

  <header>
    <h1>
      Explore
    </h1>
    <nav>
      <ul>
        <li id="translation-flag">Flag</li>
        <li id="contact">Contact</li>
      </ul>
    </nav>
  </header>

  <section>
    <div class="bg-card">
      <h2>
        Explore anywhere you like!
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus mi in leo dictum, a scelerisque
        justo
        rhoncus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi
        convallis,
        turpis sed consequat.
      </p>
    </div>
  </section>

  <div id="search-bar">
    <form action="/" method="post">
      <div>
          <input type="text" placeholder="Enter anything...">
          <input type="submit" value="">
      </div>
    </form>
  </div>

  <div id="button-bar">
    <button>
      Start now
    </button>
  </div>

  <div id="div-image"></div>

</body>

</html>