html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	background-color: rgb(18, 15, 209);
	z-index: 2;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 10px 15px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 175, 151);
}
h1 {
	font-size: 1.8em;
	font-weight: 100;
	cursor: pointer;
	user-select: none;
}
ul {
	font-size: 1em;
	list-style: none;
}
li {
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
	user-select: none;
}
/* expande para cobrir todo o espaço sobrando */
.welcome-section-style {
	flex: 1 1 auto;
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.welcome h2 {
	font-size: 1.7em;
	font-family: 'Montserrat', sans-serif;
}
.welcome p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

#bg-action {
	flex: 0 1 auto;
	background-color: rgb(43, 39, 228);
	display: flex;
	justify-content: center;
}
.container-action {
	margin: 20px;
	padding: 15px;
	background-color: #fff;
	border-radius: 32px;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.btn-start {
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	border: none;
	color: rgb(43, 39, 228);
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
}
.btn-start:focus {
	outline: none;
}
.container-search {
	display: flex;
}
#input-search {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	border: none;
	cursor: text;
	color: rgb(43, 39, 228);
}
#input-search:focus {
	outline: none;
}
#btn-search {
	border: none;
	cursor: pointer;
	outline: none;
	background: url(../images/search.png);
	width: 24px;
	height: 24px;
}


.hidden {
	display: none;
}
.bg-card {
	margin: 15px;
	border-radius: 16px;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
.bg-info {
	background-color: #fff;
}
.bg-info h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}
.bg-info p {
	margin: 30px 15px;	
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;	
	text-indent: 1.25em;	
	line-height: 1.5em;
}
.bg-image {
	background-color: #fff;
	width: 1300px;
	height: 350px;
}

.display{
	display: flex;
	flex: 1 1 auto;
}

/* quebra o display info em duas linhas */
@media only screen and (max-width: 600px) {
  .display{
		flex-wrap: wrap;
	}
}